$color1: {{ .Site.Data.theme_style.color1 }};
$color2: {{ .Site.Data.theme_style.color2 }};
$color3: {{ .Site.Data.theme_style.color3 }};
$color4: {{ .Site.Data.theme_style.color4 }};
$color5: {{ .Site.Data.theme_style.color5 }};

@import "partials/_mixins.scss";
@import "partials/_reset.scss";
@import "partials/_abstract.scss";

@import "partials/_general.scss";
@import "partials/_header.scss";
@import "partials/_main_content.scss";
@import "partials/_index_content.scss";
@import "partials/_navbar.scss";