%no-outline{
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

%navbar-element-transition {
	@include transition(color .3s ease)
	
	&:link {
		@include transition(color .3s ease)
	}
	
	&:visited {
		@include transition(color .3s ease)
	}
	
	&:active {
		@include transition(color .3s ease)
		@extend %no-outline;
	}
	
	&:hover{
		@include transition(color .3s ease)
		color: $color_navbar_elements_hover;
	}
}

%social-media-transition {
	@include transition(fill .3s ease)
	
	&:link {
		@include transition(fill .3s ease)
	}
	
	&:visited {
		@include transition(fill .3s ease)
	}
	
	&:active {
		@include transition(fill .3s ease)
		@extend %no-outline;
	}
	
	&:hover{
		@include transition(fill .3s ease)
		fill: $color_social_media_hover;
	}
}

%link {
	color: $color_link;
	@include transition(color .1s ease)
	
	&:link {
		@include transition(color .1s ease)
	}
	
	&:visited {
		@include transition(color .1s ease)
	}
	
	&:active {
		@include transition(color .1s ease)
		@extend %no-outline;
	}
	
	&:hover{
		@include transition(color .1s ease)
		color: $color_link_hover;
	}
}