.header {
	display: flex;
	flex-direction: column;
	@include respond-to(smartphone-portrait) { flex-direction: row; }
	
	width: 15%;
	margin: 5%;
	
	text-align: center;
}

.logo{
	min-width: 100%;
	object-fit: contain;
}