.header {
	width: 12%;
	min-width: 12%;
	align-self: start;
	
	display: flex;
	flex-direction: column;
	@include respond-to(vertical-layout) { flex-direction: row; }
	@include respond-to(vertical-layout) { align-self: center; }
	justify-content: space-evenly;
	align-items: center;

	@include respond-to(vertical-layout) { width: 80%; min-width: 0; }
	@include respond-to(vertical-layout) { max-height: 20%; height: 13%; }
	margin: calc(2% + 0.5rem);
	
	text-align: center;
	
	overflow: hidden;
	@include transition(max-height 1s, margin 1s);
}

.logo{
	min-width: 0;
	object-fit:contain;
	width: 100%;
	height: 100%;
}

.header-separator {
	width: 70%;
	margin: calc(10% + 1rem) 0;
	
	@include respond-to(vertical-layout) { margin: 0 calc(10% + 1rem);
												width: 0; height: 70%;}
}

.social-media {
	display: flex;
	flex-wrap: wrap;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	color: $color_social_media;
	
	max-height: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
}

.social-media-element {
	fill: $color_social_media;
	width: calc(13% + 0.8rem);
	
	margin: calc(1% + 0.15rem);
	@include respond-to(vertical-layout) { margin: auto;}
	
	a {
		width: 100%;
		height: 100%;
	}
	
	img {
		object-fit: contain;
		margin:0;
		width: 100%;
	}
	
	@extend %social-media-transition;
	
	.svg {
		width: 100%;
		height: 100%;
	}
}