.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	flex: 1;
	height: 80%;
	min-height: 22rem;
	
	text-align: center;
}

.main-content-window {
	background-color: $color2;
	
	flex: 1;
}

.main-content-navigator {
	margin: 3%;
}