.navbar {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	text-align: center;
	
	overflow: hidden;
	
	background-color: $color2;
	@include respond-to(vertical-layout) { width: 100%; }
	
	border-radius: 0 0 0 3rem;
	@include respond-to(vertical-layout) { border-radius: 0 3rem 0 3rem; } 
	
	@include transition(max-height 0.7s);
}

.navbar-element {	
	color: $color4;
	font-family: 'default';
	font-weight: 700;
	
	margin: 1.2rem 0 0.6rem 0;	
	@include respond-to(vertical-layout) { margin: 0.3rem 0; }
	
	font-size: calc(1.3rem);
	@include respond-to(vertical-layout) { font-size: calc(1.2rem); }
	
	@extend %link-color;
}

.collapsible-menu {
	align-self: center;
	width: 2rem;
}