.navbar {
	display: flex;
	justify-content: space-evenly;
	
	background-color: white;
	@include respond-to(smartphone-portrait) { width: 100%; }
	
	border-radius: 0 0 0 3rem;
	@include respond-to(smartphone-portrait) { border-radius: 0 3rem 0 3rem; }
}

.navbar-element {
	margin: 0.5rem 0;	
	@include respond-to(smartphone-portrait) { margin: 0.3rem 0; }
	
	font-size: calc(1.3rem);
	@include respond-to(smartphone-portrait) { font-size: calc(1.2rem); }
}